<?xml version="1.0"?>
<!--  

Configuration file for PHPUnit.

Note: processIsolation set to true so that code coverage reporting
      is done (almost) correctly. This is a workaround for a problem
      in XDebug 2.4... it should be gone with XDebug 2.5.
      See this comment: 
      https://github.com/sebastianbergmann/php-code-coverage/issues/411#issuecomment-217353411

-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" processIsolation="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <include>
      <directory suffix=".php">../DataTable</directory>
    </include>
  </coverage>
</phpunit>
